.show-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.description-container {
  width: 50%;
}

.ingredients-container {
  width: 25%;
}

.container {
  margin: 0 20;
}
