// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";

.container {
  max-width: 1000px;
  margin: 0 auto;
  h1 {
    font-size: 25px;
    margin-left: 20px;
  }
  h2 {
    font-size: 16px;
    font-weight: lighter;
  h2:hover {
      text-decoration: none;
    }
  }
  h3 {
    font-size: 25px;

  }
  h4 {
    font-size: 20px;
    font-weight: lighter;
  }
  p {
    font-size: 16px;
    margin: 5;
  }
}

.navbar .navbar-nav .nav-item .nav-link {
  color: white;
}
